*{
    margin: 0;
    padding: 0;
}
.main_box{
    background-image: url(camar.jpg);
    background-size: cover;
    width: 200vh;
    height: 200vh;
    
}
.btn_one i{
    color: white;
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    left: 5px;
    line-height: 50px;
    margin-top: -10px;
    cursor: pointer;
    transition: all 0.5s linear;
}

.sidebar_menu{
    position: absolute;
    left: -100px;
    height: 400vh;
    width: 100px;
    background-color: rgba(255, 255, 255,0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255,0.10);
    transition: all 0.5s linear;
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 30px;
    box-shadow: 0 0 4px rgba(255, 255, 255,0.5);
    height: 30px;
}

.sidebar_menu .logo a{
    position: absolute;
    left: 30px;
    text-decoration: none;
    color: white;
}


.sidebar_menu .btn_two i{
    color: white;
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    left: 80px;
    line-height: 90px;
    margin-top: -25px;
    cursor: pointer;
    transition: all 0.5s linear;


}

.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 50px;
}

.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 9px 10px;
    text-decoration: none;
}

.sidebar_menu .menu i, a{
    color: white;
    text-decoration: none;
    font-size: 10px;
}

.sidebar_menu .menu i{
    padding-right: 5px;
}

.sidebar_menu .social_media{
    position: absolute;
   left: 15%;
   margin-top: 350px;
   
}

.sidebar_menu .social_media i{ 
    color: white;
    opacity: 0.5;
    padding: 0.5px;
    background-color: red;
}

#check{
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255, 255, 255,0.5);
}

.btn_one i:hover{
    font-size: 10px;
}

.btn_two i:hover{
    font-size: 20px;
}

.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.5);
}
#check:checked ~ .sidebar_menu{
    left: 0;
}

#check:checked ~ .btn_one{
    opacity: 0;
}